:root{--main-text-colour: #212121;
    --second-text-colour:#FFFFFF;
    --button-text-colour: #2196F3;
    --article-text-colour:#757575;
    --secondary-background-colour: #2F303A;
    --color-rgba: rgba(255, 255, 255, 0.6);
    --button-backgroud-colour: #F5F4FA;
    --filter-border-colour: #EEEEEE;
    --clients-border-colour:#AFB1B8;
    
    }